<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= member.firstName + ' ' + member.lastName %> | Telemedic</title>

		<!-- CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/lib/materialize.css">
        <link rel="stylesheet" type="text/css" href="../css/lib/datatables.min.css">
        <link rel="stylesheet" type="text/css" href="../css/lib/dataTables.material.min.css">
        <link rel="stylesheet" type="text/css" href="../icons/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/form-elements.css">
        <link rel="stylesheet" type="text/css" href="../css/helpers.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" type="text/css" href="../css/dashboard.css">

        <style type="text/css">
        </style>
	</head>
	<body>
		<% if (user.accountType !== "Admin") { %>
            <% include partials/usernav.ejs %>
        <% } else { %>
            <% include partials/adminnav.ejs %>
        <% } %>

		<div class="body p-l-20 p-r-20 p-t-20 p-b-0">
			<div class="card row clamp-height">
                <% if (user.username === member.username) { %>
                <h4 class="col s12 f-w-bold">Your Profile</h4>
                <% } else { %>
                <h4 class="col s12 light"><%= member.firstName + "'s Profile" %></h4>
                <% } %>
                </h5>

                <table class="col s12 highlight responsive-table m-t-20 m-b-40">
                    <tbody>
                        <tr>
                            <td>Full name</td>
                            <td><%= member.firstName + ' ' + member.lastName %></td>
                        </tr>
                        <tr>
                            <td>Account type</td>
                            <td><%= member.accountType %></td>
                        </tr>
                        <tr>
                            <td>Date joined</td>
                            <td><%= new Date(member.joinDate).toLocaleDateString() %></td>
                        </tr>
                        <tr>
                            <td>Sex</td>
                            <td><%= member.sex %></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><%= member.email %></td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td><%= member.dob %></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><%= member.phone %></td>
                        </tr>
                        <% if (member.accountType !== 'Patient' && member.accountType !== 'Admin') {%>
                        <tr>
                            <td>Company</td>
                            <td><%= member.company %></td>
                        </tr>
                        <tr>
                            <td>Company's address</td>
                            <td><%= member.companyAddress %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>

                <% if (user.accountType === "Admin") { %>
                    <% if (member.documents.length) { %>
                    <h6 class="f-w-bold">Documents</h6>
                    <% } %>

                    <% member.documents.forEach(function(doc) { %>
                        <a href="<%=  %>">
                    <% }) %>

                    <% if (member.accountType !== "Patient") { %>
                        <button id="toggle-activate" data-username="<%= member.username %>" class="btn m-t-20">
                            <% if (member.activated) { %>
                            Deactivate
                            <% } else { %>
                            Activate
                            <% } %>
                        </button>
                    <% } %>
                <% } %>
			</div>
		</div>

		<!-- Javascript -->
        <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../vendor/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="../vendor/alertifyjs/js/alertify.min.js"></script>
        <script type="text/javascript" src="../js/lib/datatables.min.js"></script>
        <script type="text/javascript" src="../js/lib/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="../js/lib/dataTables.material.min.js"></script>

        <script type="text/javascript" src="../js/lib/materialize.js"></script>
        <script src="../js/user/scripts.js"></script>

        <script type="text/javascript">
            // $(".table").DataTable({
            //     columnDefs: [
            //         {
            //             targets: [ 0, 1, 2 ],
            //             className: 'mdl-data-table__cell--non-numeric'
            //         }
            //     ]
            // });
        </script>
	</body>
</html> 